html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 247, 245);
}

.wrapper {
  margin: 0.6rem;
  display: flex;
  justify-content: center;
}

.list {
  margin: 1rem;
  border: none;

  width: 16rem;
  align-content: center;
  background-color: rgb(230, 219, 219);

}

.to-do,
.working,
.done {
  padding: 8px;
  text-align: center;
  font-size: 1.25rem;
  color: white;

}

.to-do {
  background-color: rgb(94, 94, 212);
}

.working {
  background-color: rgb(241, 107, 58);
}

.done {
  background-color: rgb(21, 160, 21);
}

.container {
  padding: 4px;
  height: 20rem;
  overflow: scroll;
}

.draggable {
  padding: 0.75rem;
  background-color: white;
  margin: .25rem;
  font-size: 1rem;
}

.draggable:hover {
cursor: grab;
}

.dragging {
  background-color: rgb(209, 203, 203);
}